<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOLFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GOLFinal.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="grid" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="cell" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="background" serializeAs="String">
                <value>White</value>
            </setting>
        </GOLFinal.Properties.Settings>
    </userSettings>
</configuration>